@import "tailwindcss";
.tb {
  @apply border-[3px] border-neutral-950;
}

.tc {
  @apply text-neutral-950 text-xl;
}

.grad__txt {
  background: linear-gradient(to right, var(--white__0), var(--neutral__600));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.clamp__txt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: break-word;
}

.scroll__app::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll__app::-webkit-scrollbar-track {
  background: transparent;
}

.scroll__app::-webkit-scrollbar-thumb {
  background: var(--white__0);
  border-radius: 10px;
  box-shadow: 0 0 2.5px var(--white__0), 0 0 5px var(--white__0);
}

.scroll__app {
  scrollbar-width: thin;
  scrollbar-color: var(--white__0) transparent;
}

.link {
  transition: 0.3s ease-in-out;
  position: relative;
  max-width: fit-content;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  width: 0%;
  left: 50%;
  height: 2px;
  transition: 0.3s ease-in-out;
  background-color: var(--clr);
}
.link:hover {
  text-shadow: 0 0 2.5px var(--clr), 0 0 5px var(--clr);
}
.link:hover::after {
  width: 100%;
  left: 0;
  box-shadow: 0 0 5px var(--clr), 0 0 10px var(--clr);
}

.btn__app:enabled,
.el__app {
  cursor: pointer;
  transition: 0.3s;
}
.btn__app:enabled:hover,
.el__app:hover {
  transform: scale(var(--scale__up));
}

.btn__app:disabled {
  @apply cursor-not-allowed opacity-50;
}

.btn__app:enabled:active,
.el__app:active {
  transition: 0.15s;
  transform: scale(0.8);
}

.z__black_bg__popup {
  z-index: 500;
}

.z__popup {
  z-index: 1000;
}

.z__toast {
  z-index: 10000;
}

.txt__md {
  @apply font-semibold text-base sm:text-lg md:text-lg lg:text-xl;
}

.txt__lg {
  @apply font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl;
}

.txt__xl {
  @apply font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl;
}

.txt__2xl {
  @apply font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
}

.txt__h_xxs {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 125%;
}

.txt__h_xs {
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 125%;
}

.txt__h_sm {
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 125%;
}

.txt__h_md {
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 125%;
}

.txt__h_lg {
  font-size: 36px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 125%;
}

.txt__h_xl {
  font-size: 46px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 100%;
}

.txt__b_md {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 125%;
}

.txt__b_lg {
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 125%;
}

.svg__xs {
  min-width: 25px;
  width: 25px;
  min-height: 25px;
  height: 25px;
}

@media screen and (min-width: 600px) {
  .svg__xs {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__xs {
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
  }
}
.svg__sm {
  min-width: 30px;
  width: 30px;
  min-height: 30px;
  height: 30px;
}

@media screen and (min-width: 600px) {
  .svg__sm {
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__sm {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
  }
}
.svg__md {
  min-width: 35px;
  width: 35px;
  min-height: 35px;
  height: 35px;
}

@media screen and (min-width: 600px) {
  .svg__md {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__md {
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
  }
}
.svg__lg {
  min-width: 40px;
  width: 40px;
  min-height: 40px;
  height: 40px;
}

@media screen and (min-width: 600px) {
  .svg__lg {
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__lg {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
  }
}
.svg__xl {
  min-width: 45px;
  width: 45px;
  min-height: 45px;
  height: 45px;
}

@media screen and (min-width: 600px) {
  .svg__xl {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__xl {
    min-width: 55px;
    min-height: 55px;
    width: 55px;
    height: 55px;
  }
}
.svg__2xl {
  min-width: 50px;
  width: 50px;
  min-height: 50px;
  height: 50px;
}

@media screen and (min-width: 600px) {
  .svg__2xl {
    min-width: 55px;
    min-height: 55px;
    width: 55px;
    height: 55px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__2xl {
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
  }
}
:root {
  --white__0: #f5f5f5;
  --gray__300: #d1d5dc;
  --green__600: #16a34a;
  --blue__600: #2563eb;
  --red__600: #dc2626;
  --orange__600: #ea580c;
  --yellow__600: #ca8a04;
  --neutral__50: #fafafa;
  --neutral__100: #f5f5f5;
  --neutral__200: #e5e5e5;
  --neutral__300: #d4d4d4;
  --neutral__400: #a3a3a3;
  --neutral__500: #737373;
  --neutral__600: #525252;
  --neutral__700: #404040;
  --neutral__800: #262626;
  --neutral__900: #171717;
  --neutral__950: #0a0a0a;
  --blue__pmr: #6366f1;
  --purple__pmr: #8b5cf6;
  --green__sec_0: #dcfce7;
  --green__sec_1: #16a34a;
  --blue__sec_0: #dbeafe;
  --blue__sec_1: #2563eb;
  --white__sec: #f9fafb;
  --gray__sec_0: #e5e7eb;
  --gray__sec_1: #ced4da;
  --gray__sec_2: #9ca3af;
  --gray__sec_3: #4b5563;
  --black__sec: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button {
  appearance: none;
}

a {
  text-decoration: none;
}
